if SHIELD_TAMAYA_L

config ZMK_KEYBOARD_NAME
    default "tamaYa_L"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TAMAYA_R

config ZMK_KEYBOARD_NAME
    default "tamaYa_R"

config ZMK_SPLIT
    default y

endif